<launch>
    <set_env name="GZ_SIM_RESOURCE_PATH" value="$(find-pkg-share micras_simulation)/gazebo"/>

    <group>
        <push-ros-namespace namespace="micras"/>

        <include file="$(find-pkg-share ros_gz_sim)/launch/gz_sim.launch.py">
            <arg name="gz_args" value="$(find-pkg-share micras_simulation)/gazebo/worlds/maze.sdf"/>
        </include>

        <node name="ros_gz_bridge" pkg="ros_gz_bridge" exec="parameter_bridge" output="screen">
            <param name="config_file" value="$(find-pkg-share micras_simulation)/launch/ros_gz_bridge.yaml"/>
        </node>
    </group>
</launch>
